@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

/* PRIMARY COLORS*/ 

--clprimary-paleblue: hsl(225, 100%, 94%);
--clprimary-brightblue: hsl(245, 75%, 52%);

/* NEUTRAL COLORS */

--clneutral-verypaleblue: hsl(225, 100%, 98%);
--clneutral-desaturatedblue: hsl(224, 23%, 55%);
--clneutral-darkblue: hsl(223, 47%, 23%);


/* FONTS */
--ffmain: 'Red Hat Display', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: var(--ffmain);
}

.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, .11);
    overflow: hidden;
    max-width: 27.5rem;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.cardhead-background img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cardBody {
    display: grid;
    text-align: center;
    margin: auto 2rem;
}

.cardBody p, .attribution {
    font-size: 16px;
    color:var(--clneutral-desaturatedblue);
}

.cardBody h1 {
    font-size: 22px;
    padding: 15px;
}

.cardBody h2 {
    font-size: 16px;
}

.cardBody h1, .cardBody h2 {
    color: var(--clneutral-darkblue);
}

.cardPayment {
    background-color: var(--clneutral-verypaleblue);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    align-items: center;
}

.PaymentLeft {
    display: grid;
    grid-row: auto;

}

.PaymentRight {

}
